.headerContainer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom:2%;
}

.header__link{
	max-width: 300px;
	margin: 0 10% 0 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link{
&__title{
	color: #D04F4F;
	font-weight: 700;
	font-size: 28px;
	line-height:45px;
	@include responsive(miniPhone){
		font-size: 36px;
	}
}
&__logo{
		height: 50px;
	}
}